@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #090011;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 1px solid #03D707;
}

                    /* //Estilo del menu */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.swiper-slide{
    padding: 0 80px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after{
    font-size: 40px;
}

.swiper-button-next::after{
    font-size: 40px;
}

.swiper-button-prev{
    color: #1FFF26;
}

.swiper-button-next{
    color: #1FFF26;
}

.swiper-pagination-bullet-active{
    background-color: #feffff;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #03D707;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-family: 'Lumanosimo', cursive;
    font-size: 25px;
    color: #1FFF26;
    text-transform: uppercase;
    font-weight: 600;
} 

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-family: 'Poppins', sans-serif;    
    font-size: 20px;
    padding: 28px;
    color: #feffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #1FFF26;
}

#menu {
    display: none;
}

.menu-icono { 
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    /* //transparencia */
    backdrop-filter: blur(10px); 
    /* ////////////////////////// */
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

.btn-3 {
    display: inline-block;
    background-color: #1FFF26;
    color: #010000;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}

.btn-3:hover {
    background-color: #03D707 ;
}

table {
    width: 100%;
}

th, td  {
    color: #feffff;
}

        /* //Estilo del Slider (Carrusel de Imagenes.). */

.borrar {
    background-color: #03D707;
    border-radius: 50%;
    padding: 10px 10px;
    text-decoration: none;
    color: #090011;
    font-weight: 800;
}

.borrar:hover {
    background-color: #1FFF26;

}

.header-content {
    padding: 200px 0 0 0;
}

.header-info {
    display: flex;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 40px;
    color: #feffff;
    text-transform: capitalize;
}

.header-img {
    width: 80%;
    text-align: center;
}

.header-img img{
    width: 500px;
}

.prices {
    display: flex;
    margin: 20px 0; 
}

.price-1{
    font-size: 30px;
    color: #747b8f;
    text-decoration-line: line-through ;
    margin-right: 25px;
}

.price-2 {
    font-size: 30px;
    color: #03D707;
    margin-left: 30%;
}

.boton-1 {
    display: inline-block;
    background-color: #1FFF26;
    color: #010000;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}

.boton-1:hover {
    background-color: #03D707 ;
}


 /* //////Estilo de la clase Promociones */

.promos {
    padding: 15px;
    text-align: center;
}

.promos h2 {
    font-size: 50px;
    color: #feffff;
    margin-bottom: 40px;
}

.categorias {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categoria {
    display: flex;
    align-items: center;
    padding: 35px;
}

.categoria img {
    width: 200px;
}

.categoria-1 {
    width: 100%;
}

.categoria-1 h3 {
    color: #feffff;
    font-size: 22px;
    font-weight: 600;
}

.categoria-1 p {
    color: #74788f;
    font-size: 18px;
}

.categoria-img {
    width: 100%;
}

/* //////Estilo de la clase de Nuevos Productos */

.products{
    padding: 50px 0;
}

.products h2 {
    font-size: 50px;
    color: #feffff;
    margin-bottom: 70px;
}

.products {
    text-align: center;
}

.products img {
    width: 150px;
    margin-bottom: 15px;
}

.product-txt h3{
    font-size: 18px;
    color: #feffff;
    margin-bottom: 15px;
}

.product-txt p{
    color: #74788f;
    font-size: 16px;
    margin-bottom: 15px;
}

.precio {
    color: #feffff !important;
}

.agregar-carrito-boton-3 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    color: #feffff;
    border: 2px solid #1FFF26;
    border-radius: 25px;
    margin-top: 15px;
}

.agregar-carrito-boton-3:hover {
    background-color: #1FFF26;
}

/* ////Estilo de la seccion de Informacion de la pagina */

.footer {
    display: block;
    padding: 30px 0;
    
}

.link {
    text-align: center;
}

.link h3 {
    color: #feffff;
    margin-bottom: 20px;
    text-align: center;
}

.link a {
    color: #74788f;
    font-size: 20x;
    display: block;
    margin-bottom: 10px;
}


/* ///////// CODIGO responsive css */

@media(max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:#001C00;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .mySwiper-1 {
        width: 300px;
    }

    .swiper-slide{
        padding: 0 30px 50px 30px;
    }

    .header-content {
        padding: 100px 0 50px 0;
    }

    .header-info {
        padding: 0;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        width: 100%;
    }

    .header-info h1 {
        font-size: 40px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 200px;
    }

    .prices {
        flex-direction: column;
    }

    .price-1 {
        margin: 0;
    }

    .boton-1 {
        margin: 20px 0;
    }

    /* /////Promociones */

    .promos {
        padding: 30px;
    }

    .promos h2 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .categorias {
        grid-template-columns: repeat(1, 1fr);
    }

    .categoria {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .categoria-1 {
        width: 100%;
        margin-bottom: 25px;
        order: -1;
    }

    .categoria-img {
        width: 100%;
    }

    .products {
        padding: 30px;
    }

    .products h2{
        font-size: 40px;
        margin-bottom: 40px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    


}